body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", "Arial", sans-serif;
  background: #f4f5f7;
  color: #1a1a1a;
}

html {
  font-size: 16px;
}
#root {
  color: rgb(61, 52, 52);
  width: 1200px;
  margin: 50px auto;
  border: 1px solid #eaece8;
  border-radius: 10px;
  background-color: rgb(235, 230, 230);
  display: flex;
  flex-wrap: wrap;
}

.controls-container select,
.controls-container input[type="text"],
.controls-container input[type="search"] {
  margin: 15px 10px 15px 10px;
  padding: 12px 18px;
  border-radius: 20px;
  border: 1.2px solid #b8c0c7;
  font-size: 1.1rem;
  background: #fafdff;
  color: #212121;
  outline: none;
  transition: border 0.18s, box-shadow 0.18s;
  height: 48px;
  box-sizing: border-box;
}

.controls-container select:focus,
.controls-container input[type="text"]:focus,
.controls-container input[type="search"]:focus {
  border: 1.5px solid #90caf9;
  box-shadow: 0 0 8px 1px #b0d7f8;
}

.controls-container {
  display: flex;
  margin: auto;
}

.card-for-episodes {
  border: 1px solid rgb(215, 208, 208);
  width: 28%;
  margin: 20px auto;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.card-for-episodes:hover {
  background-color: white;
  transform: scale(1.02);
}

.card-for-episodes img {
  width: 100%;
  border-radius: 3px;
  display: inline-block; /* or flex/grid depending on layout */
  vertical-align: top;
}

/*footer*/
footer {
  text-align: center;
  font-size: 0.9rem;
  /* color: #444; */
}
footer a {
  text-decoration: none;
  color: #3366cc;
}
footer a:hover {
  text-decoration: underline;
}

#episode-count {
  font-size: 1.2rem;
  font-weight: bold;
}

#episode-count-container {
  text-align: center;
  margin: 1rem 0;
}

.tv-show-title {
  cursor: pointer;
  /* color: blue;
  text-decoration: underline; */
}

.tv-show-title:hover {
  color: blue;
  text-decoration: underline;
}

#selected-episode {
  width: 15%;
}

#show-list {
  padding: 1rem;
}

.tv-show-card {
  display: grid;
  grid-template-columns: 1fr 3fr 0.5fr;
  margin: 2rem;
  gap: 2rem;
}

.tv-show-card-container {
  border: 1px solid rgb(222, 215, 215);
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(126, 121, 121, 0.8);
  border-radius: 15px;
}

.card-info {
  border: 2px solid #d5cfcf;
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(65, 28, 28, 0.5);
}

#show-count {
  border: 1px solid rgb(222, 215, 215);
  width: 100%;
  margin: 0 auto;
  background: #d5cfcf;
  border-radius: 5px;
  padding: 15px;
  color: red;
}
